body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    text-align: center;
    color: white;
}

a{
    color: aquamarine;
    font-size: 16px;
}

.title{
    font: normal;
    font-size: 50px;
    color: white;
}

.travel{
    font-weight: 300;
    font-size: 42px;
}

.interest{
    font-size: 21px;
    color: gray;
}

.tent{
    display: block;
    margin: auto;
}

.cell{
    display: block;
    margin: auto;
    margin-top: 21px;
    margin-bottom: 21px;
}

.soon{
    font-weight: 300;
    font-size: 42px;
}

.copyright{
    font-size: 21px;
    color: gray;
    text-align: right;
}